<!DOCTYPE html><html lang="zh-cmn-Hans"><head><meta charset="utf-8"><meta content="IE=edge" http-equiv="X-UA-Compatible"><meta content="width=device-width,initial-scale=1" name="viewport"><link href="favicon.ico" rel="icon"><title>RabbitPro</title><meta content="Rabbit" name="author"><link href="static/css/loading.css" rel="stylesheet"><link href="static/css/vab-layouts.e49f5971.css" rel="stylesheet"><link href="static/css/element-ui.6e808e7d.css" rel="stylesheet"><link href="static/css/app.9a88dda7.css" rel="stylesheet"></head><body><noscript>非常抱歉鉴于安全考量,您无法查看RabbitPro 源代码，该系统基于vue-admin-better开发</noscript><div id="vue-admin-beautiful"><div class="first-loading-wrp"><div class="loading-wrp"><span class="dot dot-spin"><i></i> <i></i> <i></i> <i></i></span></div><h1>RabbitPro</h1></div></div><script>;/^http(s*):\/\//.test(location.href) ||
        alert(
          '基于vue-admin-beautiful-pro开源版开发的项目需要部署到服务器下访问'
        )</script><script>if (window.location.hostname !== 'localhost') {
        var _hmt = _hmt || []
        ;(function () {
          var hm = document.createElement('script')
          hm.src = 'https://hm.baidu.com/hm.js?7174bade1219f9cc272e7978f9523fc8'
          var s = document.getElementsByTagName('script')[0]
          s.parentNode.insertBefore(hm, s)
        })()
      }</script><script src="static/js/vab-layouts.d7b4f2c0.js"></script><script src="static/js/element-ui.a5a92f6f.js"></script><script src="static/js/app.848ed718.js"></script></body></html>