name: Build and push Docker images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin


      - name: Build and push Docker images
        run: |
          docker buildx build --platform linux/amd64,linux/arm64 -t yanyuwangluo/qrbbitpro:latest .
          docker buildx build --platform linux/amd64,linux/arm64 -t yanyuwangluo/qrbbitpro:latest --push .